@model VOI.SISAC.Web.Models.VO.Finance.InternationalFuelContractVO
<div class="modal fade" id="modalTableDelete" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="subtitle_h3_black" aria-hidden="true">&times;</span>
                </button>
                <h2 class="subtitle_h3_black">@Resource.Delete</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DeleteAll", "InternationalFuelRate"))
                {
                    @Html.TextBoxFor(model => model.EffectiveDate, new { @Type = "hidden", @class = "form-control", @Value = Model.EffectiveDate.ToString(Resource.DateTimeFormat) })
                    @Html.HiddenFor(model => model.AirlineCode)
                    @Html.HiddenFor(model => model.StationCode)
                    @Html.HiddenFor(model => model.ServiceCode)
                    @Html.HiddenFor(model => model.ProviderNumberPrimary)

                    <input type="hidden" id="EffectiveDate" name="InternationalFuelContractVO.EffectiveDate" value="<%: model.EffectiveDate %>" />
                    <input type="hidden" id="AirlineCode" name="InternationalFuelContractVO.AirlineCode" value="<%: model.AirlineCode %>" />
                    <input type="hidden" id="StationCode" name="InternationalFuelContractVO.StationCode" value="<%: model.StationCode %>" />
                    <input type="hidden" id="ServiceCode" name="InternationalFuelContractVO.ServiceCode" value="<%: model.ServiceCode %>" />
                    <input type="hidden" id="ProviderNumberPrimary" name="InternationalFuelContractVO.ProviderNumberPrimary" value="<%: model.ProviderNumberPrimary %>" />

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="subtitle_h5">@VOI.SISAC.Web.Resources.Resource.RateStartDate:</div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <input type="text" id="RateStartDate" name="RateStartDate" class="form-control ClassDate" />
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="subtitle_h5">@VOI.SISAC.Web.Resources.Resource.RateEndDate:</div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <input type="text" id="RateEndDate" name="RateEndDate" class="form-control ClassDate" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <input type="submit" class="btnVolaris" name="Delete" value="@VOI.SISAC.Web.Resources.Resource.Delete">
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

