@model IEnumerable<VOI.SISAC.Web.Models.VO.Security.ModuleVO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cultureForm = VOI.SISAC.Web.Helpers.CultureHelper.GetCurrentCulture();
}

@Styles.Render("~/Content/bootstraptablecss")

<div class="container">
    @Html.Partial("_AlertView")
    <h2 class="subtitle_h3_black">@Resource.ModuleTitle</h2>
    <div id="toolbar">
         @if (User.IsInRole("MODULE-ADD"))
        { 
            <button type="button" class="btn btn-default" name="Agregar" title="@VOI.SISAC.Web.Resources.Resource.Add" onclick="location.href='@Url.Action("Create","Module")'">
                <i class="fa fa-plus fa-fw"></i> &nbsp;@VOI.SISAC.Web.Resources.Resource.Add</button>
         }
    </div>
    <table id="tbModule"
           data-toolbar="#toolbar"
           class="table"
           data-toggle="table"
           data-show-columns="true"
           data-search="true"
           data-show-toggle="true"
           data-show-pagination-switch="true"
           data-mobile-responsive="true"
           data-pagination="true"
           data-page-size="10">
        <thead> 
            <tr>
                <th data-field="Actions" data-align="center" data-halign="center"
                    data-formatter="ModuleController.actionsButtons">
                    <strong>@VOI.SISAC.Web.Resources.Resource.Actions</strong>
                </th>
                <th data-field="ModuleCode" data-halign="center" data-align="center" data-sortable="true">
                    <strong>@Html.DisplayNameFor(model => model.ModuleCode)</strong>
                </th>
                <th data-field="ModuleName" data-halign="center" data-align="center" data-sortable="true">
                    <strong>@Html.DisplayNameFor(model => model.ModuleName)</strong>
                </th>
                <th data-field="ActionName" data-halign="center" data-align="center" data-sortable="true">
                    <strong>@Html.DisplayNameFor(model => model.MenuCode)</strong>
                </th>
                <th data-field="ControllerName" data-halign="center" data-align="center" data-sortable="true">
                    <strong>@Html.DisplayNameFor(model => model.ControllerName)</strong>
                </th>
            </tr>
        </thead>
        <tbody>
             @if (Model != null)
                {
                    foreach (var item in Model) {
                        <tr>
                            <td id="Actions"></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModuleCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModuleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MenuCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ControllerName)
                            </td>
                        </tr>
                    }
                }
            </tbody>
    </table>
    <!-- context menu -->
    <ul id="context-menu" class="dropdown-menu">
        <li data-item="@Resource.Edit"><a><i class="fa fa-pencil fa-fw"></i>&nbsp;@Resource.Edit</a></li>
        <li data-item="@Resource.Delete"><a><i class="fa fa-trash-o fa-fw"></i>&nbsp;@Resource.Delete</a></li>
        <li data-item="@Resource.AddModulePermission"><a><i class="fa fa-th-large fa-fw"></i>&nbsp;@Resource.AddModulePermission</a></li>
    </ul>
</div>
@Scripts.Render("~/bundles/bootstrapTable")
@Scripts.Render("~/bundles/bootstrapTablePlugins")
@Scripts.Render("~/bundles/BootstrapContextMenu")
@Scripts.Render("~/bundles/ModuleJS")
<script type="text/javascript">
    var currentLang = '@cultureForm.ToString()';

    $('#tbModule').bootstrapTable({
        contextMenu: '#context-menu',
        contextMenuButton: '.menuButton',
        contextMenuAutoClickRow: true,
        contextMenuTrigger: 'right',
        onContextMenuItem: function (row, $el) {

            if ($el.data("item") == '@Resource.Edit') {
                var url = '@Url.Action("Edit", "Module")';
                url = url.concat('?id=' + row.ModuleCode.trim());
                window.location = url;
            }
            if ($el.data("item") == '@Resource.Delete') {
                var url = '@Url.Action("Delete", "Module")';
                url = url.concat('?id=' + row.ModuleCode.trim());
                window.location = url;
            }
            if ($el.data("item") == '@Resource.AddModulePermission') {
                var url = '@Url.Action("Create", "ModulePermission")';
                 url = url.concat('?moduleCode=' + row.ModuleCode.trim());
                 window.location = url;
             }
            }
    });
</script>
