@model VOI.SISAC.Web.Models.VO.Finance.ExchangeRatesVO

@{
    ViewBag.Title = Resource.Add;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cultureForm = VOI.SISAC.Web.Helpers.CultureHelper.GetCurrentCulture();
    var currency = this.ViewBag.Currency as List<VOI.SISAC.Business.Dto.Catalogs.GenericCatalogDto>;
}

@Styles.Render("~/Content/bootstrapdtimecss")

<div class="container">
    @Html.Partial("_AlertView")
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="subtitle_h3_black">@Resource.ExchangeRatesTitle</p>
        <p class="subtitle_h3_ancillarie">@Resource.Add</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    @Html.LabelFor(model => model.ExchangeDate, htmlAttributes: new { @class = "subtitle_h5 control-label required-field" })
                    <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="@Resource.RequiredField" id="ExchangeDate" name="ExchangeDate" type="datetime" value="" aria-required="true" aria-invalid="true" aria-describedby="ExchangeDate-error" novalidate="novalidate">
                    @Html.ValidationMessageFor(model => model.ExchangeDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    @Html.LabelFor(model => model.Currency.CurrencyName, htmlAttributes: new { @class = "subtitle_h5 control-label required-field" })
                    <div class="styled-select">
                        @Html.DropDownListFor(model => model.CurrencyCode, currency.Select(h => new SelectListItem
                   {
                       Text = h.DescriptionAndCode,
                       Value = h.Id
                   }), Resource.SelectItem, new { @class = "inputForm form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.CurrencyCode, "", new { @class = "text-danger text-danger-error" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "subtitle_h5 control-label required-field" })
                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", @min = 0, @max = 1000000, @onkeypress = "return commonFunctions.validarNumeroDecimal(event, this, 12, 4);", @onkeyup = "return commonFunctions.validarNumeroDecimal(event, this, 12, 4);" } })
                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <br />
                <input type="reset" class="btnVolaris" value="@Resource.Back" onclick="@("location.href='" + @Url.Action("Index", "ExchangeRates") + "'")" />
                <input type="submit" value="@Resource.Create" class="btnVolaris" />
                <br />
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapdtimejs")
    @Scripts.Render("~/bundles/CommonFunctions")

    <script>
        $(function () {
            var currentLang = '@cultureForm.ToString()';

            $("#ExchangeDate").datetimepicker({
                format: "MMMM-YYYY",
                locale: currentLang
            });
        });
    </script>
}
