@model VOI.SISAC.Web.Models.VO.Finance.InternationalFuelContractVO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.Partial("_AlertView")
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="subtitle_h3_black">@VOI.SISAC.Web.Resources.Resource.InternationalFuelContractTitle</p>
        <p class="subtitle_h3_ancillarie">@VOI.SISAC.Web.Resources.Resource.Details</p>
    </div>
    <br />
   @Html.Partial("Partial/InternationalFuelContractDetails")
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <br />
            <br />
            <input style="vertical-align:central" onclick="@("location.href='" + @Url.Action("Index", "InternationalFuelContract") + "'")" type="reset" class="btnVolaris" value="@Resource.Back">
     </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/CommonFunctions")
    @Scripts.Render("~/bundles/jqueryval")
}

