@model IEnumerable<VOI.SISAC.Web.Models.VO.Airport.FuelConceptVO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstraptablecss")

<div class="container">
    @Html.Partial("_AlertView")
    <h2 class="subtitle_h3_black">@VOI.SISAC.Web.Resources.Resource.FuelConceptTitle</h2>
    <div id="toolbar">
        @if (User.IsInRole("FUELCONCEP-ADD"))
        { 
            <button type="button" class="btn btn-default" name="Agregar" title="@VOI.SISAC.Web.Resources.Resource.Add" onclick="location.href='@Url.Action("Create", "FuelConcept")'">
                <i class="fa fa-plus"></i>&nbsp; @VOI.SISAC.Web.Resources.Resource.Add
            </button>
        }
    </div>
    <table id="tbAccountingAccount"
        data-toolbar="#toolbar"
        class="table"
        data-toggle="table"
        data-show-export="true"
        data-export-types="['excel']"
        data-show-columns="true"
        data-search="true"
        data-show-toggle="true"
        data-show-pagination-switch="true"
        data-mobile-responsive="true"
        data-pagination="true"
        data-export-data-type="all"
        data-page-size="10">
        <thead>
            <tr>
                @if (User.IsInRole("FUELCONCEP-UPD") || User.IsInRole("FUELCONCEP-DEL"))
                {
                    <th data-field="Acctions" data-align="center" data-halign="center">
                        <strong>@VOI.SISAC.Web.Resources.Resource.Actions</strong>
                    </th>
                }
                <th data-field="FuelConceptID" data-halign="center" data-align="center" data-sortable="true" data-visible="false">
                    <strong>@Html.DisplayNameFor(model => model.FuelConceptID)</strong>
                </th>
                <th data-field="FuelConceptName" data-halign="left" data-align="left" data-sortable="true">
                    <strong>@Html.DisplayNameFor(model => model.FuelConceptName)</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    @if (User.IsInRole("FUELCONCEP-UPD") || User.IsInRole("FUELCONCEP-DEL"))
                    {
                        <td>
                            @if (User.IsInRole("FUELCONCEP-UPD"))
                            {
                                <button class="btn btn-default" type="button" name="Edit" title="@VOI.SISAC.Web.Resources.Resource.Edit" onclick="location.href='@Url.Action("Edit", "FuelConcept", new { id = item.FuelConceptID })'"><i class="fa fa-pencil fa-fw"></i></button>
                            }
                            @if (User.IsInRole("FUELCONCEP-DEL"))
                            {
                                <button class="btn btn-default" type="button" name="Delete" title="@VOI.SISAC.Web.Resources.Resource.Delete" onclick="location.href='@Url.Action("Delete", "FuelConcept", new { id = item.FuelConceptID })'"><i class="fa fa-trash-o fa-fw"></i></button>
                            }
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelConceptID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelConceptName)
                    </td>
                </tr>
                }
            }

        </tbody>
    </table>
    <br />
</div>

@Scripts.Render("~/bundles/bootstrapTable")

@Scripts.Render("~/bundles/bootstrapTablePlugins")
@Scripts.Render("~/bundles/ExportTable")