@model IEnumerable<VOI.SISAC.Web.Models.VO.Airport.AirplaneTypeVO>

@{
    ViewBag.Title = VOI.SISAC.Web.Resources.Resource.AirplaneTypeTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/bootstraptablecss")

<div class="container">
    @Html.Partial("_AlertView")
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="subtitle_h3_black">@VOI.SISAC.Web.Resources.Resource.AirplaneTypeTitle</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="toolbar">
            <div class="btn-group dropdown">
                @if (User.IsInRole("AIRPLANETY-ADD"))
                {
                    <button type="button" class="btn btn-default" name="Agregar" title="@VOI.SISAC.Web.Resources.Resource.Add" onclick="location.href='@Url.Action("Create", "AirplaneType")'">
                        <i class="fa fa-plus"></i>&nbsp; @VOI.SISAC.Web.Resources.Resource.Add
                    </button>
                }
            </div>
        </div>
        <table id="tbAirplaneType"
               data-toolbar="#toolbar"
               class="table"
               data-toggle="table"
               data-show-columns="true"
               data-search="true"
               data-show-toggle="true"
               data-show-pagination-switch="true"
               data-mobile-responsive="true"
               data-pagination="true"
               data-page-size="10"
               data-show-export="true"
               data-export-types="['excel']"
               data-export-data-type="all">
            <thead>
                <tr>
                    <th data-field="AirplaneModel" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.AirplaneModel)</strong>
                    </th>
                    <th data-field="CompartmentTypeCode" data-halign="center" data-align="center" data-sortable="true" data-visible="false">
                        <strong>@Html.DisplayNameFor(model => model.CompartmentTypeCode)</strong>
                    </th>
                    <th data-field="MaximumTakeoffWeight" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.MaximumTakeoffWeight)</strong>
                    </th>
                    <th data-field="WeightInPound" data-halign="center" data-align="center" data-sortable="true" data-visible="false">
                        <strong>@Html.DisplayNameFor(model => model.WeightInPound)</strong>
                    </th>
                    <th data-field="WeightInTonnes" data-halign="center" data-align="center" data-sortable="true" data-visible="false">
                        <strong>@Html.DisplayNameFor(model => model.WeightInTonnes)</strong>
                    </th>
                    <th data-field="EmptyOperatingWeight" data-halign="center" data-align="center" data-sortable="true" data-visible="false">
                        <strong>@Html.DisplayNameFor(model => model.EmptyOperatingWeight)</strong>
                    </th>
                    <th data-field="FilmingMaximumWeight" data-halign="center" data-align="center" data-sortable="true" data-visible="false">
                        <strong>@Html.DisplayNameFor(model => model.FilmingMaximumWeight)</strong>
                    </th>
                    <th data-field="TakeoffWeightInTonnes" data-halign="center" data-align="center" data-sortable="true" data-visible="false">
                        <strong>@Html.DisplayNameFor(model => model.TakeoffWeightInTonnes)</strong>
                    </th>
                    <th data-field="GroupWeight" data-halign="center" data-align="center" data-sortable="true" data-visible="false">
                        <strong>@Html.DisplayNameFor(model => model.GroupWeight)</strong>
                    </th>
                    <th data-field="MaximumLandingWeight" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.MaximumLandingWeight)</strong>
                    </th>
                    <th data-field="MaximumZeroFuelWeight" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.MaximumZeroFuelWeight)</strong>
                    </th>
                    <th data-field="PassengerCapacity" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.PassengerCapacity)</strong>
                    </th>
                    <th data-field="CrewCapacity" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.CrewCapacity)</strong>
                    </th>
                    <th data-field="Magnitude" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.Magnitude)</strong>
                    </th>
                    <th data-field="FuelInLiters" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.FuelInLiters)</strong>
                    </th>
                    <th data-field="FuelInKg" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.FuelInKg)</strong>
                    </th>
                    <th data-field="FuelInGallon" data-halign="center" data-align="center" data-sortable="true">
                        <strong>@Html.DisplayNameFor(model => model.FuelInGallon)</strong>
                    </th>
                    @if (User.IsInRole("AIRPLANETY-UPD") || User.IsInRole("AIRPLANETY-DEL"))
                    {
                        <th data-field="Acctions" data-align="center" data-halign="center">
                            <strong>@VOI.SISAC.Web.Resources.Resource.Actions</strong>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AirplaneModel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompartmentTypeCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaximumTakeoffWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WeightInPound)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WeightInTonnes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmptyOperatingWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FilmingMaximumWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TakeoffWeightInTonnes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaximumLandingWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaximumZeroFuelWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PassengerCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CrewCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Magnitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FuelInLiters)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FuelInKg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FuelInGallon)
                        </td>
                        @if (User.IsInRole("AIRPLANETY-UPD") || User.IsInRole("AIRPLANETY-DEL"))
                        {
                            <td>
                                @if (User.IsInRole("AIRPLANETY-UPD"))
                                {
                                    <button class="btn btn-default" type="button" name="Edit" title="@VOI.SISAC.Web.Resources.Resource.Edit" onclick="location.href='@Url.Action("Edit", "AirplaneType", new { id = item.AirplaneModel })'"><i class="fa fa-pencil fa-fw"></i></button>
                                }
                                @if (User.IsInRole("AIRPLANETY-DEL"))
                                {
                                    <button class="btn btn-default" type="button" name="Delete" title="@VOI.SISAC.Web.Resources.Resource.Delete" onclick="location.href='@Url.Action("Delete", "AirplaneType", new { id = item.AirplaneModel })'"><i class="fa fa-trash-o fa-fw"></i></button>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>

@Scripts.Render("~/bundles/bootstrapTable")
@Scripts.Render("~/bundles/bootstrapTablePlugins")
@Scripts.Render("~/bundles/ExportTable")