@model VOI.SISAC.Web.Models.VO.Finance.AccountingAccountVO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.Partial("_AlertView")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <p class="subtitle_h3_black">@VOI.SISAC.Web.Resources.Resource.AccountingAccountTitle</p>
            <p class="subtitle_h3_ancillarie">@VOI.SISAC.Web.Resources.Resource.Edit</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    @Html.LabelFor(model => model.AccountingAccountNumber, htmlAttributes: new { @class = "subtitle_h5 control-label" })
                    @Html.EditorFor(model => model.AccountingAccountNumber, new { htmlAttributes = new { @class = "form-control specialInput", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.AccountingAccountNumber, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    @Html.LabelFor(model => model.AccountingAccountName, htmlAttributes: new { @class = "subtitle_h5 control-label required-field" })
                    @Html.EditorFor(model => model.AccountingAccountName, new { htmlAttributes = new { @class = "inputForm form-control", @onkeypress = "return commonFunctions.validarMaxLengthAlfanumerico(event, this, 50);", @onkeyup = "return commonFunctions.validarMaxLengthAlfanumerico(event, this, 50)" } })
                    @Html.ValidationMessageFor(model => model.AccountingAccountName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <br />
                <input onclick="location.href='@Url.Action("Index", "AccountingAccount")    '" type="reset" class="btnVolaris" value="@VOI.SISAC.Web.Resources.Resource.Back">
                <input type="submit" value="@VOI.SISAC.Web.Resources.Resource.Save" class="btnVolaris" />
                <br />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CommonFunctions")
}
