@model VOI.SISAC.Web.Models.VO.Finance.NationalFuelContractConceptVO

@{
    ViewBag.Title = Resource.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.Delete</h2>
<h3>@Resource.ConfirmDelete</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NationalFuelContractConceptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalFuelContractConceptId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirlineCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirlineCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderNumberPrimary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderNumberPrimary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelConceptID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelConceptID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelConceptTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelConceptTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargeFactorTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargeFactorTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderNumber)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "NationalFuelContractConcept", FormMethod.Post, new { name = "formContract", id = "formContract" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color">
            <button class="btn btn-default btn-lg" type="button" name="Back" title="@VOI.SISAC.Web.Resources.Resource.Back" onclick="location.href='@Url.Action("Edit", "NationalFuelContract", new { effectiveDate = Model.EffectiveDate.ToShortDateString(), airlineCode = Model.AirlineCode, stationCode = Model.StationCode, serviceCode = Model.ServiceCode, providerNumberPrimary = Model.ProviderNumberPrimary })'">
                <i class="fa fa-arrow-left"></i>&nbsp;@Resource.Back
            </button>
            <button id="btnContract" type="button" class="btn btn-default btn-lg btn-green" name="Save" title="@Resource.Save" onclick="NationalFuelConcept.postGeneric()">
                <i class="fa fa-floppy-o"></i>&nbsp;@Resource.Save
            </button>
        </div>
    }
</div>

@Scripts.Render("~/bundles/NationalFuelContractConceptJS")