@{
    this.ViewBag.Title = @VOI.SISAC.Web.Resources.Resource.ViewDetailErrors;
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container"> 
    @Html.Partial("_AlertView")
    @using (Html.BeginForm("Export", "JetFuelLogError", new { Area = "Process" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="subtitle_h3_black">@VOI.SISAC.Web.Resources.Resource.ViewDetailErrors</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <label class="subtitle_h5 required-field">@VOI.SISAC.Web.Resources.Resource.PeriodCode</label>
                    <div class="styled-select">
                        <select id="PeriodCode" name="PeriodCode" class="inputForm form-control" onchange="JetFuelErrorLogController.GetDatesByPeriod()"></select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <label class="subtitle_h5">@VOI.SISAC.Web.Resources.Resource.StartDate</label>
                    <input id="StartDatePeriod" name="StartDatePeriod" class="inputForm form-control" readonly="" />
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <label class="subtitle_h5">@VOI.SISAC.Web.Resources.Resource.EndDate</label>
                    <input id="EndDatePeriod" name="EndDatePeriod" class="inputForm form-control" readonly="" />
                </div>
            </div>
            @if (User.IsInRole("INTFUELERR-EXP")) { 
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <br />
                        <input type="submit" title="@VOI.SISAC.Web.Resources.Resource.Export" value="@VOI.SISAC.Web.Resources.Resource.Export" class="btnVolaris" />
                        <br />
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/JetFuelLogErrorJS")
}